<div class="profile">
    <img class="top-curve" src="../../assets/bg-pattern-top.svg" alt="top-curve.svg" />
    <img class="bottom-curve" src="../../assets/bg-pattern-bottom.svg" alt="bottom-curve.svg" />

    <div class="profile-card">
        <img class="card-pattern" src="../../assets/bg-pattern-card.svg" alt="">
        <div class="info">
            <img class="avatar" src="../../assets/image-victor.jpg" alt="Victor Avatar">
            <div class="profile-name">
                <h4>Victor Crest</h4>
                <h5>26</h5>
            </div>
            <h5 class="city">London</h5>
            <hr>
            <div class="social-info">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 followers">
                        <h4>80K</h4>
                        <p>Followers</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 followers">
                        <h4>803K</h4>
                        <p>Likes</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 followers">
                        <h4>1.4K</h4>
                        <p>Photos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>