<div class="wrapper">
    <div class="image-host-container"></div>
    <div class="content">

        <div id="primary">
            <h1 class="title primar">Publish your podcasts </h1>
        </div>   
        
        <div id="secondary">
            <h1 class="title second">everywhere</h1>
        </div>
        
        <p>Upload your audio to Pod with a single click. We’ll then distribute your podcast to Spotify, 
    Apple Podcasts, Google Podcasts, Pocket Casts and more!</p>

        <form>
            <div class="input-container">
            <input class="email" type="email" placeholder="Email adress">
            <button class="submit" type="submit">Request access</button>
            </div>
        </form>
        
        <div class="socials">
            <div class="social"><img src="../../assets/post-request/spotify.svg" alt=""></div>
            <div class="social"><img src="../../assets/post-request/apple-podcast.svg" alt=""></div>
            <div class="social"><img src="../../assets/post-request/google-podcasts.svg" alt=""></div>
            <div class="social"><img src="../../assets/post-request/pocket-casts.svg" alt=""></div>
        </div>
    </div>
    <div class="deco"><img src="../../assets/post-request/bg-pattern-dots.svg" alt=""></div>
    <img src="../../assets/post-request/logo.svg" alt="" class="logo">
</div>