<div class="container">
    <mat-accordion>
        
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>How many team members can I invite?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Response</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>What is the maximum file upload size</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Response</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>How do I reset my password?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Response</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>Can I cancel my subscription?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Response</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>Do you provide addiotional support?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Response</p>
        </mat-expansion-panel>

      </mat-accordion>
</div>