<div class="countdown">
  <h1>We're launching soon</h1>

  <div class="timer">
    <div class="days">
      <div class="timer-bg">
        <div class="timer-bg-top"></div>
        <div class="timer-bg-bottom"></div>
        <p class="days-displayer">14</p>
      </div>
      <h3 class="entitled">Days</h3>
    </div>

    <div class="hours">
      <div class="timer-bg">
        <div class="timer-bg-top"></div>
        <div class="timer-bg-bottom"></div>
        <p class="hours-displayer">00</p>
      </div>
      <h3 class="entitled">Hours</h3>
    </div>  

    <div class="minutes">
      <div class="timer-bg">
        <div class="timer-bg-top"></div>
        <div class="timer-bg-bottom"></div>
        <p class="minutes-displayer">00</p>
      </div>
      <h3 class="entitled">Minutes</h3>
    </div>

    <div class="seconds">
      <div class="timer-bg">
        <div class="timer-bg-top"></div>
        <div class="timer-bg-bottom"></div>
        <p class="seconds-displayer">00</p>
      </div>
      <h3 class="entiled">Seconds</h3>
    </div>

  </div>

  <div class="button">
    <button id="myBtn" type="button" class="btn">START</button>
  </div>

  <footer class="medias">
    <a href="www.facebook.com">
      <img src="assets/icon-facebook.svg" alt="facebook-social">
    </a>
    <a href="">
      <img src="assets/icon-pinterest.svg" alt="pinterest-social">
    </a>
    <a href="">
      <img src="assets/icon-instagram.svg" alt="instagram-social">
    </a>
  </footer>

</div>